@font-face {
  font-family: "Feather Bold";
  src: url('fonts/14936bb7a4b6575fd2eee80a3ab52cc2.eot'),
    url('fonts/14936bb7a4b6575fd2eee80a3ab52cc2.eot') format("embedded-opentype"),
    url('fonts/14936bb7a4b6575fd2eee80a3ab52cc2.woff2') format("woff2"),
    url('fonts/14936bb7a4b6575fd2eee80a3ab52cc2.woff') format("woff"),
    url('fonts/14936bb7a4b6575fd2eee80a3ab52cc2.ttf') format("truetype"),
    url('fonts/14936bb7a4b6575fd2eee80a3ab52cc2.svg') format("svg");
}

body {
    font-family: "Feather Bold";
}